doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title RUBY | Talk
        link(rel="stylesheet", href="/css/styles.css")

        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@200&family=Montserrat:wght@300&display=swap" rel="stylesheet")
        
    body 
        section.pc__screen 
            p Just Only Possible Mobile Device, You Need Use Smaller Screen Than Now

        section.mobile__screen
            main.main 
                block content
            
            nav.nav
                div 
                    a(href="/friends") Friends
                div 
                    a(href="/message") Message
                div 
                    a(href="/profile") Profile

