extends ./base.pug

block content
    section.mhead
        div Message

    section.mlist 
        div.mlist__rBox
            p 받은 메시지(친구아이디)
            p 내용 30글자만...
        div.mlist__sBox
            p 보낸 메시지(친구아이디)
            p 내용 30글자만...    